{#
html = {header, body, footer}
#}
{% macro ModelTE(id, title, html, options) %}  
<div class="modal fade" id="ModalТЕ_{{ id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" title>{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {{ html.body }}

            </div>
            <div class="modal-footer">
                {% if html.footer %}
                {% else %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %} 
<script>
    $(document).ready(function () {

        ModelTE.start();

    })
</script>   