{% import "extension/extension/tool/macros.twig" as forms %}
<input type="hidden" name="apply" value="0"/>
<input type="hidden" name="setting[status]" value="{{ setting.status }}"/>
<ul nttabs class="nav nav-tabs">
    <li nttabs class="active"><a href="#tab-general" data-toggle="tab">
        <i class="fa fa-cogs text-primary"></i> {{ text_tab_general }}</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tab-general">

    </div>
</div>  


